<div id="comments-list">
    <!-- commentDtos의 내용을 반복(#)-->
    <!-- view에서 데이터를 사용하기 위해 모델에 데이터를 등록(컨트롤러) -->
    {{#commentsDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentsDtos}}
</div>